body {
    background-color: #2d3c49;
    color: #7d97ad;
}

h1 {
    text-align: center;
}

.headerHR {
    height: 0.5em;
    width: 85%;
    background-color: #7d97ad;
    border-radius: 12px;
    margin-bottom: 1em;
}

.noteFormContainer {
    margin-bottom: 1em;
}

.filters{
    display: flex;
    margin-left: 1em;
}

.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.card-criminal {
    padding: 1em;
    margin: 1em;
    border: 1px solid;
    width: 25%;
}

.viewNoteButton, .viewAlibiButton {
    margin-top: 0.5em;
}

.deleteButton {
    margin-top: 0.5em;
}

.notesBox {
    margin-top: 1em;
}

.noteFormContainer {
    border: 1px solid;
    width: 30%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-left: 1em;
}

.viewer {
    width: 25%;
    float: right;
    display: flex;
    flex-direction: column-reverse;
}

.witnessesTag {
    text-align: center;
}

.note {
    padding: 2%;
}

#witnessContainer {
    width: 100%;
}

.card-witness {
    padding: 1%;
    border: 1px solid;
}